#components-layout-demo-custom-trigger .demo-logo-vertical img{
    display: block;
    width: 50%;
    margin: 20px auto;
}

.app-title{
    font-size: 1.4rem;
    font-weight: bold;
}

.t-img{
    width: 80px;
    max-height: 110px;
}